body
{
	background: url(background.png);
	background-size: cover;
	background-position: 50% 0;
	color: #ffffff;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.content
{
	width: 100%;
}

.top
{
	width:100%;
	background: rgba(0, 0, 0, 0.5);
}

.logo
{
	width:100%;
	text-align:center;
}

.artwork
{
	width: 100%;
	text-align: center;
	display:inline-block;
	vertical-align: top;
	padding-bottom:100px;
}
.write
{
	width: 100%;
	text-align: center;
	display:inline-block;
	vertical-align: top;
}

.socials
{
	position: fixed;
	bottom: 0;
	padding-left: 3px;
	background: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.socialdivs
{
	width: 100%;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.yt
{
	width: 80,5px;
	height: 50px;
	float:right;
	font-size: 35px;
	padding:0 10px;
}
.yt:hover
{
	color:#c4302b;
}

.sp
{
	width: 80,5px;
	height: 50px;
	float:right;
	font-size: 35px;
	padding:0 10px;
}
.sp:hover
{
	color:#1db954;
}

.am
{
	width: 80,5px;
	height: 50px;
	float:right;
	font-size: 35px;
	color: #fff;
	padding:0 10px;
}
.am:hover
{
	color:#000;
}

.sc
{
	width: 80,5px;
	height: 50px;
	float:right;
	font-size: 35px;
	padding:0 10px;
}
.sc:hover
{
	color:#ff8800;
}

.ig
{
	width: 80,5px;
	height: 50px;
	float:right;
	font-size: 35px;
	padding:0 10px;
}
.ig:hover
{
	vertical-align: middle;
	color: #d6249f;
	color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.tw
{
	width: 80,5px;
	height: 50px;
	float:right;
	font-size: 35px;
	padding:0 10px;
}
.tw:hover
{
	color:#1dcaff;
}

.post
{
	padding-top:115px;
	padding-bottom:115px;
	width:100%;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
}

.title
{
	font-size: 30px;
	width:560px;
	text-align:center;
	margin: auto;
	border-bottom: solid 2px;
}

.description
{
	font-size: 30px;
	width:560px;
	text-align:center;
	margin: auto;
}

.minisocials
{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.spsmall
{
	background-color:#1db954;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	margin-top:5px;
	margin-right:5px;
	width: 64px;
	height: 64px;
	font-size: 46px;
	text-align:center;
	float:left;
	border-style: solid;
	border-color:white;
}
.spsmall:hover
{
	background-color:#0b9954;
	border-style: solid;
	border-color:black;
}

.amsmall
{
	background-color:#00000;
	color:#ffffff;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	margin-top:5px;
	margin-right:5px;
	width: 64px;
	height: 64px;
	font-size: 46px;
	text-align:center;
	float:left;
	border-style: solid;
	border-color:white;
}
.amsmall:hover
{
	background-color:#ffffff;
	color:#000000;
	border-color:black;
}

.itsmall
{
	background-color:#00000;
	color:#ffffff;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	margin-top:5px;
	margin-right:5px;
	width: 64px;
	height: 64px;
	font-size: 23px;
	text-align:center;
	float:left;
	border-style: solid;
	border-color:white;
}
.itsmall:hover
{
	background-color:#ffffff;
	color:#000000;
	border-style: solid;
	border-color:black;
}

.bssmall
{
	background-color:#00000;
	color:#ffffff;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	margin-top:5px;
	margin-right:5px;
	width: 50px;
	height: 50px;
	font-size: 23px;
	text-align:center;
	float:left;
	border-style: solid;
	border-color:white;
}
.bssmall:hover
{
	background-color:#ED1C24;
	color:#000000;
	border-style: solid;
	border-color:black;
}

.scsmall
{
	background-color:#ff8800;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	margin-top:5px;
	margin-right:5px;
	width: 64px;
	height: 64px;
	font-size: 46px;
	text-align:center;
	float:left;
	border-style: solid;
	border-color:white;
}
.scsmall:hover
{
	background-color:#dd6800;
	border-style: solid;
	border-color:black;
}

.video
{
	width:100%;
	text-align:center;
	margin: auto;
}

a.tilelink
{
	text-decoration: none;
	color:#ffffff;
}

.font_info
{
	font-size:10px;
	text-align:center;
	width:100%;
}