body
{
	background: url(background.jpg);
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.content
{
	width: 100%;
}

.logo_container
{
	width:750px;
	background-color:#000;
	
	position: fixed;
	top:0;
	left:50%;
	margin-left:-375px;
	z-index:100;
	
	border-radius:0px 0px 5px 5px;
	border:1px solid #66757f;
}

.logo_container:hover
{
	border: 1px solid #8899a6;
	cursor: pointer;
}

.socials_container
{
	width:750px;
	background-color:#000;
	
	position: fixed;
	bottom:0;
	left:50%;
	margin-left:-375px;
	z-index:100;
	
	border-radius:5px 5px 0px 0px;
	border:1px solid #66757f;
}
	
.logo
{
	display: flex;
	justify-content: center;
}

.top_post
{
	font-size: 40px;
	width:80%;
	padding-left:10%;
	padding-right:10%;
	padding-top:50px;
	display: flex;
	justify-content: center;
	padding-top:150px;
}

.bottom_post
{
	font-size: 40px;
	width:80%;
	padding-left:10%;
	padding-right:10%;
	padding-top:50px;
	display: flex;
	justify-content: center;
	padding-bottom:100px;
}

.post
{
	width:80%;
	padding-left:10%;
	padding-right:10%;
	padding-top:30px;
	display: flex;
	justify-content: center;
}

.twitterpost
{
	display: flex;
	justify-content: center;
	padding:10px;
}

.socials
{
	position: fixed;
	bottom: 0;
	right: 0;
	float: left;
	padding: 10px;
}

.socialdivs
{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.social_top
{
	float:left;
}

.yt
{
	width: 85px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:20px;
}
.yt:hover
{
	color:#c4302b;
}

.sp
{
	width: 85px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:20px;
}

.sp:hover
{
	color:#1db954;
}

.am
{
	width: 85px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:20px;
}
.am:hover
{
	color:#000;
}

.sc
{
	width: 85px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:20px;
}
.sc:hover
{
	color:#ff8800;
}

.ig
{
	width: 85px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:20px;
}
.ig:hover
{
	vertical-align: middle;
	color: #d6249f;
	color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.tw
{
	width: 85px;
	height: 40px;
	float:left;
	font-size: 28.5px;
	padding:20px;
}
.tw:hover
{
	color:#1dcaff;
}

a.tilelink
{
	text-decoration: none;
	color:#ffffff;
}

.font_info
{
	font-size:10px;
	text-align:center;
	width:100%;
}