body
{
	background: url(background.jpg);
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.content
{
	width: 100%;
}

.logo
{
	width: 100%;
	height: auto;
}

.socials
{
	position: fixed;
	bottom: 0;
	right: 0;
	float: left;
	padding: 10px;
}

.socialdivs
{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.social_top
{
	float:left;
	padding: 5px;
}

.yt
{
	width: 40px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:0 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 25%;
	padding:10px;
}
.yt:hover
{
	color:#c4302b;
}

.sp
{
	width: 40px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:0 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 25%;
	padding:10px;
}

.sp:hover
{
	color:#1db954;
}

.am
{
	width: 40px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:0 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 25%;
	padding:10px;
}
.am:hover
{
	color:#000;
}

.sc
{
	width: 40px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:0 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 25%;
	padding:10px;
}
.sc:hover
{
	color:#ff8800;
}

.ig
{
	width: 40px;
	height: 40px;
	float:left;
	font-size: 29px;
	padding:0 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 25%;
	padding:10px;
}
.ig:hover
{
	vertical-align: middle;
	color: #d6249f;
	color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.tw
{
	width: 40px;
	height: 40px;
	float:left;
	font-size: 28.5px;
	padding:0 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 25%;
	padding:10px;
}
.tw:hover
{
	color:#1dcaff;
}

a.tilelink
{
	text-decoration: none;
	color:#ffffff;
}

.font_info
{
	font-size:10px;
	text-align:center;
	width:100%;
}